

@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 700ms ease, transform 700ms ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* flip card animation in menu */
.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
@media (max-width: 768px) { /* small screens */
  .grid-rows-dynamic {
    grid-template-rows: repeat(var(--rows), minmax(0, 1fr));
  }
}